@import "../../scss/config/mixins.scss";
@import "../../scss/config/variables.scss";

.section-about {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #efeee9;
  }
  &:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #eeebdf;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.section-triangle {
  height: 114px;
  width: 100%;
  position: absolute;
  left: 0;
  top: -101px;
}

.section-triangle__left{
  fill: #efeee9;
}
.section-triangle__right{
  fill: #eeebdf;
}

.about {
  display: flex;
  padding-top: 45px;

  @include tablets {
    flex-direction: column;
  }
  @include mobile {
    flex-direction: column;
  }
}

.about-left {
  width: 50%;

  @include tablets {
    width: 100%;
  }
   @include mobile {
    width: 100%;
  }
}

.about-right {
  width: 50%;
  padding-left: 56px;

  @include tablets {
    width: 100%;
    padding-left: 0;
  }
  @include mobile {
    width: 100%;
    padding-left: 0;
  }
}

.about-left__bgpic {
  position: absolute;
  width: 300px;
  top: -40px;
  opacity: 0.1;
  .about {
    width: 300px;
  }
}

.about-left__title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.about-me {
  width: 200px;
  margin: 0;
  color: #373e42;
  font-family: "Bernier";
  font-size: 63px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 1.57px;
  &:before {
    top: 29px;
    left: -30px;
  }
  &:after {
    top: 29px;
    right: -30px
  }
}

.user-desc {

  @include tablets {
    margin-bottom: 50px;
  }
}

.user-desc__img {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.user-desc__title {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.user-desc__subtitle {
  width: 85px;
  margin-bottom: 0;
  &:before {
    top: 26px;
    left: 95px;
  }
  &:after {
    top: 26px;
    right: 95px;
  }
}

.user-desc__text {
  padding: 0 86px;
  p {
    margin-bottom: 8px;
  }

  @include tablets {
    padding: 0 152px;
  }
  @include mobile {
    padding: 0;
  }
}

.text-block {
  color: #455a64;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24.01px;
}

.about-left__desc {
  position: relative;
}

.about-right__header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.about-title {
  width: 220px;
  margin: 0;
  color: #455a64;
  font-family: "Bernier";
  font-size: 35px;
  font-weight: 400;
  line-height: 40.92px;
  &:before {
    top: 20px;
    left: -30px;
  }
  &:after {
    top: 20px;
    right: -30px;
  }

  @include mobile {
    font-size: 28px;
  }
}

.about-right__desc {
  position: relative;
  margin-bottom: 50px;

  @include tablets {
    padding: 0 152px;
  }

  @include mobile {
    padding: 0;
  }
}

.about-right__content {
  position: relative;
}

//skills section
.skill {
  position: relative;
  &:after {
    content: attr(name);
    color: #00bfa5;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.skills {

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.skills__item {
  margin-bottom: 30px;
}

.skills-row {

  @include tablets {
    text-align: center;
  }
  @include mobile {
    text-align: center;
  }
}

.skills-row__header {
  margin-bottom: 13px;
  color: #455a64;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}

.skills-row__list {
  display: flex;

  @include mobile {
    display: initial;
  }
}

.skills-row__item {
  position: relative;
  display: inline-block;
  width: 111px;
  height: 111px;
  margin-right: 35px;

  @include mobile {
    margin-right: 0;
  }
}

.skills-row__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 13px;
  font-family: Roboto, sans-serif;
  color: #1bb696;
  font-weight: bold;
}

.circles {
  fill: none;
  stroke-width: 15;
  width: 111px;
  height: 111px;
}

.circle__first {
  stroke: #dfdcd5;
}

.circle__second {
  stroke: #1bb696;
  stroke-dasharray: .0010 282.6;
  transition: all 1s;
}

.circles:hover .circle-0 {
   stroke-dasharray: .001 282.6;
}

.circles:hover .circle-5 {
  stroke-dasharray: 14.13 282.6;
}

.circles:hover .circle-10 {
   stroke-dasharray: 28.26 282.6;
}

.circles:hover .circle-15 {
   stroke-dasharray: 42.39 282.6;
}

.circles:hover .circle-20 {
   stroke-dasharray: 56.52 282.6;
}

.circles:hover .circle-25 {
   stroke-dasharray: 70.65 282.6;
}

.circles:hover .circle-30 {
   stroke-dasharray: 84.78 282.6;
}

.circles:hover .circle-35 {
   stroke-dasharray: 98.91 282.6;
}

.circles:hover .circle-40 {
   stroke-dasharray: 113.04 282.6;
}

.circles:hover .circle-45 {
   stroke-dasharray: 127.17 282.6;
}

.circles:hover .circle-50 {
   stroke-dasharray: 141.3 282.6;
}

.circles:hover .circle-55 {
   stroke-dasharray: 155.43 282.6;
}

.circles:hover .circle-60 {
   stroke-dasharray: 169.56 282.6;
}

.circles:hover .circle-65 {
   stroke-dasharray: 183.69 282.6;
}

.circles:hover .circle-70 {
   stroke-dasharray: 197.82 282.6;
}

.circles:hover .circle-75 {
   stroke-dasharray: 211.95 282.6;
}

.circles:hover .circle-80 {
   stroke-dasharray: 226.08 282.6;
}

.circles:hover .circle-85 {
   stroke-dasharray: 240.21 282.6;
}

.circles:hover .circle-90 {
   stroke-dasharray: 254.34 282.6;
}

.circles:hover .circle-95 {
   stroke-dasharray: 268.47 282.6;
}

.circles:hover .circle-100 {
   stroke-dasharray: 282.6 282.6;
}

//map 

.map {
  position: relative;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @include mobile {
    align-items: flex-start;
  }
}

.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 380px;
  height: 290px;
  padding: 25px 40px;
  background: rgba(255,255,255,0.57);
}

.contacts-header {
  &:before {
    left: -30px;
  }
  &:after {
    right: -30px;
  }
}

.contacts__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contacts-row__title {
  color: #455a64;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.contacts__item {
  display: flex;
  margin-bottom: 20px;
}

.contacts__link {
  color: #455a64;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.8;
}

.contacts__text {
  color: #455a64;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  opacity: 0.8;
}

.contacts__icon {
  margin-right: 20px;
}

.google-map {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}