include ./_mixins.pug

footer.footer
  div.container
    div.footer-block
      div.footer-block__item
      
        //-mixins left navigation footer
        +footerNav('bottom-menu', ['Мои работы', 'Обо мне', 'Блог', 'Авторизация'])
        ul.social_footer
          li.social__item_footer
            a.social__link_footer(href="#")
              img.social__icon_footer(src=require("../../img/vk_round.svg"))
          li.social__item_footer
            a.social__link_footer(href="#")
              img.social__icon_footer(src=require("../../img/github_round.svg"))
          li.social__item_footer
            a.social__link_footer(href="#")
              img.social__icon_footer(src=require("../../img/in_round.svg"))
 
        
      div.footer-block__item
        div.bottom-desc Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        div.copyright &copy; Евгений Ларков | создано с любовью в LoftSchool | 2017