include ./_mixins.pug

header.header
  div.container
    div.header__top
      div.header__social
        
        //-mixins header social
        +headSocial('social', ['vk', 'github', 'in'])
      .header-menu
        nav.navigation
          ul.navigation__list
            li.navigation__item
              a.navigation__link(href="#") Авторизация
            li.navigation__item
              a.navigation__link(href="#") Блог
            li.navigation__item
              a.navigation__link(href="#") Обо мне
            li.navigation__item
              a.navigation__link(href="#") Мои работы
      div.hamburger
        .hamburger__top
        .hamburger__center
        .hamburger__bottom
    include ./userpic.pug
      
    
    