@import "../../scss/config/mixins.scss";
@import "../../scss/config/variables.scss";
// main-content

.main-content {
  position: relative;
}

.blog-content {
  display: flex;
  padding-top: 50px;
  p {
    margin-bottom: 10px;
  }
  @include mobile {
    flex-direction: column;
  }
}

.sidebar {
  width: 300px;
  @include mobile {
    display: none;
  }
  @include tablets {
    display: none;
  }
}

.menu {
  padding-top: 9px;
  padding-right: 24px;
  text-align: right;
}

.menu__item {
  position: relative;
  margin-bottom: 11px;
  padding-right: 26px;
  padding-top: 7px;
  padding-bottom: 9px;
}

.menu__item.active {
  border-right: 1px solid #00bfa5;
  border-right-width: 3px;
  .menu__link {
    color: #00bfa5;
    }
  }

.menu__link {
  color: #455a64;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
}

.content {
  width: 680px;
  margin-left: 76px;
  @include mobile {
    width: 100%;
    margin-left: 0;
  }
  @include tablets {
    margin-left: 0;
  }
}

.blog-list__item {
  border-bottom: 5px solid rgba(55, 62, 66, 0.2);
  padding-bottom: 70px;
  margin-bottom: 64px;
  &:last-child {
    border-bottom: none;
  }
}

.blog-list__title {
  margin-bottom: 9px;
  color: #455a64;
  font-family: "Bernier";
  font-size: 35px;
  font-weight: 400;
  line-height: 41px;
}

.blog-list__date {
  margin-bottom: 9px;
  color: #00bfa5;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 41px;
}

.blog-list__descript {
  color: #455a64;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.triangle {
  height: 114px;
  width: 100%;
  position: absolute;
  left: 0;
  top: -101px;
}

.left{
  fill: rgb(255, 255, 255);
}
.right{
  fill: rgb(255, 255, 255);
}


