@import "../../scss/config/mixins.scss";
@import "../../scss/config/variables.scss";
// main-content

.main-content {
  position: relative;
}

.blog-content {
  display: flex;
  padding-top: 50px;
  p {
    margin-bottom: 10px;
  }
  @include mobile {
    flex-direction: column;
  }
}


//sidebar left
.sidebar {
  width: 300px;

  @include tablets {
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
    background-color: #00bfa5;
    left: -300px;
    transition: left .3s;
    height: 100%;
  }
}

.sidebar__circle {
  opacity: 0;

  @include tablets {
    position: absolute;
    top: 50%;
    right: -11px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #00bfa5;
    opacity: 0;
  }
}

.sidebar__show {
  left: 0;
}

.menu {
  position: static;
  width: 300px;
  padding-top: 9px;
  padding-right: 24px;
  text-align: right;

  @include tablets {
    padding-right: 0;
  }
}

.menu__item {
  position: relative;
  margin-bottom: 11px;
  padding-right: 26px;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 9px;

  @include tablets {
    padding-left: 26px;
  }
}

.menu__item.active {
  border-right: 1px solid #00bfa5;
  border-right-width: 3px;

  @include mobile {
    border: 0;
  }
  
  .menu__link {
    color: #00bfa5;

    @include tablets {
      color: #ffffff;
      opacity: 1;
    }
    }
  }

.menu__link {
  color: #455a64;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-decoration: none;

  @include tablets {
    color: #ffffff;
    opacity: 0.7;
  }
}

.content {
  width: 680px;
  margin-left: 76px;
  @include mobile {
    width: 100%;
    margin-left: 0;
  }
  @include tablets {
    margin-left: 0;
  }
}

.blog-list__item {
  border-bottom: 5px solid rgba(55, 62, 66, 0.2);
  padding-bottom: 70px;
  margin-bottom: 64px;
  &:last-child {
    border-bottom: none;
  }
}

.blog-list__title {
  margin-bottom: 9px;
  color: #455a64;
  font-family: "Bernier";
  font-size: 35px;
  font-weight: 400;
  line-height: 41px;
}

.blog-list__date {
  margin-bottom: 9px;
  color: #00bfa5;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 41px;
}

.blog-list__descript {
  color: #455a64;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.triangle {
  height: 114px;
  width: 100%;
  position: absolute;
  left: 0;
  top: -101px;
}

.left{
  fill: rgb(255, 255, 255);
}
.right{
  fill: rgb(255, 255, 255);
}


