@import "../../scss/config/mixins.scss";
@import "../../scss/config/variables.scss";

.section-works {
  position: relative;
}

.works {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.works-triangle {
  height: 114px;
  width: 100%;
  position: absolute;
  left: 0;
  top: -101px;
}

.works-triangle__left{
  fill: rgb(255, 255, 255);
}

.works-triangle__right{
  fill: rgb(255, 255, 255);
}

.works__picbg {
  position: absolute;
  top: 0;
  opacity: 0.1;
}

.works-header {
  width: 300px;
  color: #373e42;
  font-family: "Bernier";
  font-size: 63px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 1.57px;
  margin: 0;
  &:before {
    top: 31px;
    left: -30px;
  }
  &:after {
    top: 31px;
    right: -30px;
  }

  @include mobile {
    width: 185px;
    font-size: 35px;
  }
}

.works-container {
  display: flex;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #efeee9;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #eeebdf;
    top: 0;
    right: 0;
    z-index: -1;
  }

  @include tablets {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }
}

//slider style

.slider {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  background-color: #fff;

  @include tablets {
      height: initial;
  }
}

.heading__sub {
  text-transform: uppercase;
  position: relative;
  width: 100%;

  &:before {
    left: -30px;
  }
  &:after {
    right: -30px;
  }

  @include tablets {
    width: 100%;
  }
  @include mobile {
    font-size: 26px;
    margin-bottom: 15px;
  }
}

.heading__sub-wrap {
  
  @include mobile {
      padding-top: 0;
      padding-bottom: 15px;
  }
}

.button-preview {
  display: flex;
  align-items: center;
  padding: 5px 18px;
}

.button-preview__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 36.14px; 
}

.button-preview__icon {
  margin-right: 11px;
}

.slider__main_preview {
  height: 100%;
  width: 50%;
  background-color: #f2f0e8;

  @include tablets {
    width: 100%;
    height: 50vh;
    padding-top: 30px;
    padding-bottom: 70px;
  }
  @include mobile {
    height: 40vh;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.main-preview__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20%;
  text-align: center;

  @include tablets {
      margin: 0;
  }
}

.main-preview__desc {
  margin-bottom: 50px;
  overflow: hidden;
  color: #20b5a1;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 2px solid #009688;
  border-bottom: 2px solid #009688;
  width: 100%;
  text-align: center;
  padding: 20px 0;

  @include mobile {
      margin-bottom: 15px;
  }
}

.slider__small_preview {
  position: relative;
  display: flex;
  height: 70%;
  width: 50%;
  background-color: #e3e2de;

  @include tablets {
    box-sizing: content-box;
    height: 100vh;
    width: 100%;
    order: -1;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include mobile {
    height: 31vh;
  }
}

.slider__preview_nav {
  display: flex;
  height: 30%;
  width: 50%;

  @include tablets {
      height: 30vh;
      width: 100%;
  }
  @include mobile {
      height: 20vh;
  }
}

.slider__preview_down,
.slider__preview_up {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
}


.overlay__preview {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.arrow__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.overlay__preview_left {
  background-color: $slider-arrow_up;
}

.overlay__preview_right {
  background-color:$slider-arrow_down;
}

.slider__number {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80px;
  color: pink;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.slider__number.number_big {
  font-size: 200px;
}

.slider__image_preview {
  position: absolute;
  top: 15%;
  left: 15%;
  right: 15%;
  bottom: 15%;
  z-index: 1;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about-tell__header {
  display: flex;
  justify-content: center;
  padding: 70px 0;
}

.ask-title {
  width: 300px;
  color: #373e42;
  font-family: "Bernier";
  font-size: 63px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 1.57px;
  margin: 0;
  &:before {
    left: -30px;
  }
  &:after {
    right: -30px;
  }

  @include tablets {
    width: 510px;
  }

  @include mobile {
    width: 200px;
    font-size: 40px;
    line-height: 50px;
  }
}

.about-tell__content {
  margin-bottom: 65px;
}

.about-testimonial__list {
  display: flex;
  justify-content: center;

  @include mobile {
    flex-direction: column;
  }
}

.about-testimonial__item {
  width: 380px;
  margin: 0 20px;

  @include mobile {
    width: 100%;
    margin: 0 7px;
  }
}

.about-testimonial__quote {
  margin-bottom: 30px;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about-testimonial__icon {
  width: 33px;
  height: auto;
  fill: rgba(69,90,100,.2)
}

.about-testimonial__desc {
  margin-bottom: 12px;
  color: #455a64;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;

  @include tablets {
    font-size: 14px;
  }
}

.about-customer__icon {
  display: flex;
  align-items: center;
}

.about-customer__user {
  margin-right: 20px;
}

.about-customer__text {
  display: flex;
  flex-direction: column;
  color: #20b5a1;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;

  @include tablets {
    font-size: 14px;
  }
}

.about-customer__title {
  font-weight: 700;
}

//sections form

/*.about-tell {
  background-image: url("../../img/bg-works.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}*/

.about-tell {
  position: relative;
}

.about-tell__bg {
  min-width: 100%;
  min-height: 100%;
  max-width: initial;
  max-height: initial;
  position: absolute;
  z-index: -1;
}

.about-tell__form {
  padding-bottom: 95px;
}

.feedback-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  max-width: 380px;
  width: 100%;

  @include mobile {
    padding: 0 7px;
  }
}

.form-content {
  position: relative;
  z-index: 10;
  overflow: hidden;
  padding: 36px 26px 26px;
  background: rgba(255,255,255,.5);
}

.form-content__input {
  width: 100%;
  padding: 13px 10px 12px 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.1s;
  &:focus {
    border: 1px solid #00bfa5;
    outline: none;
  }
}

.form-content__msg {
  height: 150px;
  width: 100%;
  padding: 13px 10px 12px 8px;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  background: #fff;
  resize: none;
  &:focus {
    border-color: #00bfa5;
  }
}

.form-title {
  position: relative;
  &:before {
    left: 12px;
  }
  &:after {
    right: 12px;
  }
}

.form-content__button {
  display: flex;
}

.button_sent,
.button_reset {
  flex: 1;
  border: 0;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 40px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 36.12px;
}

.button_sent {
  border-bottom-right-radius: 0;
  border-right: 1px solid rgba(222, 227, 231, 0.8);
}

.button_reset {
  border-bottom-left-radius: 0;
}

//form blur effects

.form-content__blur {
  width: 100%;
  height: 100%;
  background-image: url('../../img/bg-works.png');
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}

