//-в этом блоке указываем переменные
//- title, subtitle
block variables

//-подключаем миксины
include ./sections/_mixins

doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- задаем title для страницы через пременную
    title #{title}
  body
    include ./sections/preloader
    - if (isPage) 
      .wrapper
          //-header
          include ./sections/header
          block content
          include ./sections/footer
        
    - else     
        block content

    block scripts
        

