@import "../../scss/config/mixins.scss";
@import "../../scss/config/variables.scss";
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    height: 0px;
  }
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.block-title {
  position: relative;
  color: #455a64;
  font-family: "Bernier";
  font-size: 35px;
  font-weight: 400;
  margin: 0 0 40px 0;
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    top: 23px;
    left: 30px;
    width: 22px;
    height: 5px;
    background-color: #373e42;
    opacity: 0.2;
  }
  &:after {
    content: "";
    position: absolute;
    top: 23px;
    right: 30px;
    width: 22px;
    height: 5px;
    background-color: #373e42;
    opacity: 0.2;
  }
}

.button {
  display: inline-block;
  min-width: 97px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  line-height: 1.42;
  color: #ffffff;
  background-color: #00bfa5;
  padding: 10px 17px;;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color .1s ease;
  &:focus, &:hover {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    background-color: darken(#00bfa5, 5%);
  }
    &::after {
      opacity: .22;
    }
  &:active {
    background-color: darken(#00bfa5, 10%);
  }
}

.scroll {
  overflow: hidden;
}

//parallax styles
#parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include laptop {
    display: none;
  }
}

.parallax__layer {
  height: 136%;
  width: 120%;
  position: absolute;
  top: 0;
  left: -5%;
  will-change: transform;
}

.parallax__img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  max-height: 3000px;
}

//preloader
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: #1cc2aa url('../../img/bg-preloader.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.preloader__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translate(-50%,-50%);
}

.preloader__animation {
  width: 150px;
  height: 150px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #fff;
  position: relative;
  animation: spin 2s linear infinite;

  &:before, &:after {
    content: "";
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #fff;
  }

  &:before {
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    animation: spin 3s linear infinite;
  }

  &:after {
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    animation: spin 1.5s linear infinite;
  }
}


.preloader__percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }


  100% {
    transform: rotate(360deg);
  }
}
