@import '../../scss/config/mixins.scss';
@import '../../scss/config/variables.scss';

header {
  position: relative;
  height: 100vh;
  padding-top: 28px;
  background-image: url(../../img/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.social {
  display: flex;
  align-items: center;
}

.social__item {
  margin-right: 27px;
}

.social__link {
  display: block;
}

.header__menu {
  display: block;
}

.header-menu {
  position: fixed;
  left: -9999px;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 80px 5% 0;
  z-index: 3;
  overflow: auto;
  text-align: center;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }
  &:after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }
}

.header-menu__show {
  left: 0;

  &:before {
    background-color: #00bfa5;
    z-index: -1;
    width: 50%;
    height: 100%;
  }
  &:after {
    background-color: #00bfa5;
    z-index: -1;
    width: 50%;
    height: 100%;
  }
}

.navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation__item {
  display: flex;
  align-items: center;
  margin-bottom: 57px;
  &:hover {
    .navigation__line {
      width: 22px;
    }
  }
  

  @include tablets {
    margin-bottom: 30px;
  }

  @include mobile {
    margin-bottom: 10px;
  }
}

.navigation__line {
  width: 0;
  height: 4px;
  background: #fff;
  margin: 0 12px;
  transition: 0.3s;
}

.navigation__link {
  position: relative;
  color: #ffffff;
  font-family: "Bernier";
  font-size: 63px;
  font-weight: 400;
  letter-spacing: 1.57px;
  text-decoration: none;
  
  @include mobile {
    font-size: 35px;
  }
}

.hamburger {
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 999;
  margin-right: 42px;
  
  @include mobile {
    margin-right: 0;
  }
}

.hamburger__top::before {
  content: '';
  left: 8px;
  top: 8px;
  position: absolute;
  width: 16px;
  transform-origin: left bottom;
  height: 5px;
  background: #ffffff;
  transition: transform 0.3s, top 0.3s;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hamburger__top::after {
  content: '';
  position: absolute;
  right: 8px;
  top: 8px;
  width: 16px;
  transform-origin: right bottom;
  height: 5px;
  background: #ffffff;
  transition: transform 0.3s, top 0.3s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hamburger__center {
  position: absolute;
  width: 32px;
  top: 50%;
  left: 50%;
  height: 5px;
  background: #ffffff;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  transition: transform 0.3s 0.3s, width 0.3s 0.6s;
}

.hamburger__bottom::before {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 16px;
  transform-origin: left top;
  height: 5px;
  background: #ffffff;
  transition: transform 0.3s, bottom 0.3s;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hamburger__bottom::after {
  content: '';
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 16px;
  transform-origin: right top;
  height: 5px;
  background: #ffffff;
  transition: transform 0.3s, bottom 0.3s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hamburger.open .hamburger__top:before {
  top: 7px;
  width: 17px;
  transform: rotate(45deg);
  transform-origin: left bottom;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}

.hamburger.open .hamburger__top:after {
  top: 7px;
  width: 17px;
  transform: rotate(-45deg);
  transform-origin: right bottom;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}

.hamburger.open .hamburger__center {
  width: 5px;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: transform 0.3s 0.3s, width 0.3s;
}

.hamburger.open .hamburger__bottom:before {
  bottom: 7px;
  width: 17px;
  transform: rotate(-45deg);
  transform-origin: left top;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
}

.hamburger.open .hamburger__bottom:after {
  bottom: 7px;
  width: 17px;
  transform: rotate(45deg);
  transform-origin: right top;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
}

.header__writebg {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.1;
}

.header__user {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userpic {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.header-title {
  position: relative;
  color:#ffffff;
  font-family: "Bernier";
  font-size: 63px;
  font-weight: 400;
  margin: 0 0 4px 0;
  text-align: center;
  line-height: 56px;
  &:before {
    content: "";
    position: absolute;
    top: 26px;
    left: -40px;
    width: 22px;
    height: 5px;
    background-color: #373e42;
    opacity: 0.2;
  }
  &:after {
    content: "";
    position: absolute;
    top: 26px;
    right: -40px;
    width: 22px;
    height: 5px;
    background-color: #373e42;
    opacity: 0.2;
  }
}

.header__title {
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
