block title
title Евгений Ларков

block main
	div.bg-wrapper
		.signin
			a.button.button-auth(href="#") Авторизоваться
		div.welcome-inter
			.welocme-container
				div.welcome-content
					.welcome-content__userpic
						img.welcome-content__pic(src=require("../../img/userpic.png"))
					.welcome-content__title
						h2.welcome-content__header Евгений Ларков
						span.weclome-content__text Личный сайт веб-разработчика
					.welcome-content__social
						ul.welcome-content__list
							li.weclome-content__item
								a.welcome-content__link(href="#")
									img.welcome-content__icon(src=require("../../img/vk.svg"))
							li.weclome-content__item
								a.welcome-content__link(href="#")
									img.welcome-content__icon(src=require("../../img/github.svg"))
							li.weclome-content__item
								a.welcome-content__link(href="#")
									img.welcome-content__icon(src=require("../../img/in.svg"))
				div.form-login__row
						ul.btn__list
							li.btn__item
								a(class="button button_main" href="works.html") Мои работы
							li.btn__item
								a(class="button button_center" href="about.html") Обо мне
							li.btn__item
								a(class="button button_inter" href="blog.html") Блог
		div.author
			p.author__copyright &copy; Евгений Ларков | создано с любовью в LoftSchool | 2017