.about {
  position: relative;

  &:before {
    width: 20px;
    height: 30px;
    position: absolute;
    background: #000;
  }
}

.about__title {
  color: #455a64;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  line-height: 34px;
}

.about__list {
  display: flex;
}