.blog__title {
  color: #455a64;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  line-height: 34px;
}

.forma__title {
  color: #455a64;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 34px;
}

.forma-textarea {
  width: 100%;
  max-width: 500px;
  height: 166px;
  padding: 6px;
  resize: none;
}