.tabs {
 background-color: $bagies;
}
.list {
  display: flex;
}
.item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-right: 3px solid #ffffff;
}

.link {
  padding: 10px 50px;
  opacity: 0.8;
  color: #455a64;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 36.14px;
  text-transform: uppercase;
  text-decoration: none;
}

.active-tab {
  background: #ffffff;
  color: $green;
}