.works__title {
  color: #455a64;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  line-height: 34px;
}

.works__header {
  color: #455a64;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 34px;
}